*{
    padding: 0;
    margin: 0;
    box-sizing:0;
}
body{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
}
nav{
    display: flex;
    text-decoration: none;
    align-items: center;
    font-family: 'League Spartan', sans-serif;
     
}
img{
    margin: 0;
    padding: 0;
}
.nav-bar{
    margin-left: 100px;
    list-style-type: none;
    display: flex;
}
a{
    text-decoration: none;
    margin: 10px;
    margin-top: 10px;
    color: black;
}
.container{
    position: relative;
    text-align: center;
}
.logo{
    position: absolute;
    color: white;
    top: 50px;
    left: 16px;
}
.home{
    position: absolute;
    top: 47px;
    left: 100px;
    color: white;
    margin: 10px;
}
.home:hover{
    color: rgb(255, 157, 0);
}
.shop:hover{
    color: rgb(255, 157, 0);
}
.about:hover{
    color: rgb(255, 157, 0);
}
.contact:hover{
    color: rgb(255, 157, 0);
}
.shop{
    position: absolute;
    top: 47px;
    left: 150px;
    color: white;
}
.about{
    position: absolute;
    top: 47px;
    left: 200px;
    color: white;
}
.first {
    width: 700px;
    height: 500px;
}
.contact{
    position: absolute;
    top: 47px;
    left: 250px;
    color: white;
}
.side{
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.017);
    width: 400px;
    height: 500px;
    right: 150px;
    margin-left: 50px;
    position: relative;
    
}
.global{
    position: relative;
    top: 80px;
    font-size: 50px;
    text-align: start;
    font-family: 'League Spartan', sans-serif;
    justify-content: center;
    align-items: center;
}
.world{
    margin-top: 120px;
    color: rgb(159, 157, 154);
    font-style: italic;
    font-family: 'League Spartan', sans-serif;
    text-align: start;
    justify-content: center;
    align-content: center;
}
.now{
    margin-top: 50px;
    font-family: 'League Spartan', sans-serif;
    justify-content: center;
    text-align: start;
    font-size: large;
    font-weight: bold;
}
.arrow{
    height: 12px;
    width: 40;
    display: flex;
}
.direction{
    position: relative;
    left: 49px;
    margin-left: 50px;
    
}
.pointing{
    background-color: rgb(0, 0, 0);
    width: 90px;
    height:60px;
    margin-top: 40px;
    display: flex;
    position: relative;
    right: 219px;
    top: 229px;
    justify-content: space-around;
    align-items: center;
}
.pointing2{
    background-color: rgb(0, 0, 0);
    width: 90px;
    height:60px;
    display: flex;
    position: relative;
    right: 139px;
    top: 169px;
    justify-content: space-around;
    align-items: center;    
}
.gallery{
   display: flex; 
   height: 300px;
}
.dark{
    width: 350px;
    height: 300px;
}
.side2{
    background-color: rgb(255, 255, 255);
    width: 400px;
    justify-content: center;
    padding: 30px;
}
.our{
    margin-top: 50px;
    font-family: 'League Spartan', sans-serif;
    width: 400px;
    margin: 40px;
    text-transform: uppercase;
    text-align:start ;
    margin-left: 0px;
    justify-content: center;
    margin-left:30px ;
}
.collection{
    margin-top: 50px;
    color: rgb(159, 157, 154);
    font-style: italic;
    font-family: 'League Spartan', sans-serif;
    text-align: start;

    align-content: center;
    height: 300px;
    margin: 20px;
}
.light{
    width: 500px;
    height: 300px;
    margin-left: 60px;
}
        /* MEDIA QUERIES */
    @media (min-width: 641px) and (max-width: 1440px) {

    }
    @media (max-width: 640px) {
       *{
        margin: 0;
        padding: 0;
       }
       body{
        zoom: 58%;
       }
        .logo{
            text-align: center;
            font-size: 40px;
            left: 100px;
            top: 45px;
        }

       .container{
        flex-direction: column;
       }
       .nav-bar{
        margin-left: 250px;
        position: absolute;
        left: 600px;
        font-size: medium;
       }
       .first{
        position: relative;
        height: 550px;
        width: 1000px;
        zoom: 127%;
        left: 1px;
       }
       .direction{
        position: relative;
        bottom: 350px;
        left: 300px;
        width: 100px;
       }
       .pointing{
        position: relative;
        left: 182px;
       }
       .pointing2{
        position:relative;
        left: 270px;
        bottom: 590px;
       }
       .side{
        position: relative;
        bottom: 40px;
        align-items: center;
        justify-content: center;
        left: 0;
        zoom: 170%;
       }
       .gallery{
        flex-direction: column;
        align-items: center;
       }
       .dark{
        position: relative;
        height: 550px;
        width: 1000px;
        bottom: 70px;
        zoom: 150%;
        left: 110px;
       }
       .side2{
        position: relative;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        top: 20px;
        right: 90px;
        zoom: 170%;
       }
       .side2{
        position: relative;
        left: 50px;
        zoom: 200%;
       }
       .our{
        position: relative;
        text-align: start;
        font-size: medium;
        left: 50px;
        margin-left: 100px;
        font-size: 20px;
       }
       .collection{
        position: relative;
        align-items: center;
        left: 100px;
        text-align: start;
        font-size: 20px;
        
       }
       .light{
        position:relative;
        zoom: 160%;
        height: 550px;
        width: 1000px;
        left: 40px;
       }
       
    }

    